<div
  class="justify-center items-center bg-orange-50 flex w-full flex-col px-16 py-12 max-md:max-w-full max-md:px-5"
>
  <div class="w-full max-w-[1120px] mt-28 mb-20 max-md:max-w-full max-md:my-10">
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[46%] max-md:w-full max-md:ml-0"
      >
        <img
          loading="lazy"
          srcset="/static/img/doctor.png"
          class="aspect-[1.16] object-contain object-center w-full overflow-hidden grow max-md:max-w-full max-md:mt-10"
        />
      </div>
      <div
        class="flex flex-col items-stretch w-[54%] ml-5 max-md:w-full max-md:ml-0"
      >
        <span
          class="flex flex-col items-stretch my-auto max-md:max-w-full max-md:mt-10"
        >
          <div
            class="text-emerald-600 text-sm font-bold leading-5 tracking-wider max-md:max-w-full"
          >
            Over ons
          </div>
          <div
            class="text-neutral-800 text-4xl font-bold mt-7 max-md:max-w-full"
          >
          Over Huisartsenpraktijk Heerle
        </div>
          <div class="text-zinc-600 text-base leading-6 mt-8 max-md:max-w-full">
            Sinds januari 2024 bevindt Huisartsenpraktijk Markx zich op de huidige locatie in Gezondheidscentrum De Rotselaer. Het gehele huisartsenteam staat klaar om u de beste en toekomstbestendige huisartsenzorg te kunnen leveren.

Ook patiënten die chronische zorg nodig hebben kunnen wij ondersteunen. Wilt u bijvoorbeeld stoppen met roken of heeft u COPD, hart en vaatziekten, Diabetes. Dan wij kunnen u helpen en u de juiste zorg bieden. Daarnaast doen wij ook diverse medische (kleine) ingrepen zelf. Zowel bij de huisarts als bij de assistentes.Hier vindt u daar een overzicht van.

Op onze website vindt u altijd onze actuele openingstijden, vakantieroosters en welke artsen u kunt bereiken bij onze afwezigheid. Kunt u niet vinden wat u zoekt of heeft u nog andere vragen? Neem dan zeker contact met ons op!
          </div>
        </span>
      </div>
    </div>
  </div>
</div>