<div
  class="justify-center items-center bg-white flex w-full flex-col px-16 py-12 max-md:max-w-full max-md:px-5"
>
  <div class="w-full max-w-[1120px] mt-28 mb-20 max-md:max-w-full max-md:my-10">
    <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
      <div
        class="flex flex-col items-stretch w-[44%] max-md:w-full max-md:ml-0"
      >
        <span class="flex flex-col items-stretch my-auto max-md:mt-10">
          <div class="text-neutral-800 text-4xl font-bold">
            Kom met ons in contact
          </div>
          <span
            class="flex items-stretch justify-between gap-2 mt-11 max-md:mt-10"
          >
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/c9a8d40bc02ec85d1026cb1efad10665522220ec1bf7c4a6e643d7d7c47cad44?"
              class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full"
            />
            <div
              class="text-zinc-600 text-base leading-6 self-center grow shrink basis-auto my-auto"
            >
            Kloosterstraat 11, 4725 EE Wouw
            </div>
          </span>
          <span class="flex items-stretch justify-between gap-2 mt-4">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/cc136be2b4d628c34905dae564c9c0865d8b8a8daa353275eeb9f311127936ff?"
              class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full"
            />
            <div
              class="text-zinc-600 text-base leading-6 self-center grow shrink basis-auto my-auto"
            >
            Telefoonnummer: 0165-303 303
            </div>
          </span>
          <span
            class="justify-between items-stretch bg-emerald-600 flex gap-4 mt-10 px-10 py-4 rounded-[40px] max-md:px-5"
          >
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/ff7baf60713b840a320f066de6e45e1b71e4492be0a26385b05c3347a4826c11?"
              class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full"
            />
            <div class="text-white text-sm font-bold uppercase my-auto">
              Neem direct contact op
            </div>
          </span>
        </span>
      </div>
      <div
        class="flex flex-col items-stretch w-[56%] ml-5 max-md:w-full max-md:ml-0"
      >
        <img
          loading="lazy"
          srcset="/static/img/contact.png"
          class="aspect-[1.52] object-contain object-center w-full overflow-hidden grow max-md:max-w-full max-md:mt-10"
        />
      </div>
    </div>
  </div>
</div>