<div class="bg-neutral-200 flex flex-col items-center pt-12 px-16 max-md:px-5">
  <div
    class="flex w-full max-w-[1120px] flex-col items-stretch mt-6 max-md:max-w-full"
  >
    <div class="z-[1] max-md:max-w-full">
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div
          class="flex flex-col items-stretch w-3/5 max-md:w-full max-md:ml-0"
        >
          <span class="flex flex-col my-auto max-md:max-w-full max-md:mt-10">
            <div
              class="text-emerald-600 text-sm font-bold leading-5 tracking-wider self-stretch max-md:max-w-full"
            >
              Welkom bij 👋
            </div>
            <div
              class="text-neutral-800 text-5xl font-bold leading-[68px] self-stretch mt-9 max-md:max-w-full max-md:text-4xl max-md:leading-[58px]"
            >
              <span class="text-neutral-800">Huisartspraktijk Heerle</span>
            </div>
            <div
              class="text-zinc-600 text-lg leading-7 self-stretch w-full mr-5 mt-9 max-md:max-w-full max-md:mr-2.5"
            >
              De huisarts die altijd voor u klaarstaat
            </div>
            <span
              class="justify-center items-stretch bg-emerald-600 flex gap-4 mt-9 px-9 py-4 rounded-[40px] self-start max-md:px-5"
            >
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/400c2931b809d3d65b749cad6392a0854b42ce3350dd73f172fc7d2f6fca1d57?"
                class="aspect-square object-contain object-center w-5 overflow-hidden shrink-0 max-w-full"
              />
              <div
                class="text-white text-sm font-bold uppercase grow whitespace-nowrap self-start"
              >
                Naar het patientenportaal
              </div>
            </span>
          </span>
        </div>
        <div
          class="flex flex-col items-stretch w-2/5 ml-5 max-md:w-full max-md:ml-0"
        >
          <img
            loading="lazy"
            srcset="/static/img/image.png" 
            class="aspect-[0.77] object-contain object-center w-full overflow-hidden grow max-md:mt-10"
          />
        </div>
      </div>
    </div>
    <div
      class="items-start border border-[color:var(--Primary-Colors-brand-green-light,#DCE9E2)] bg-orange-50 flex shrink-0 h-[107px] flex-col rounded-md border-solid max-md:max-w-full"
    ></div>
  </div>
</div>