<header class="my-24">
    <div class="w-full bg-center bg-cover"
      style="background-image: url('/static/img/hero-image.jpeg');">
      <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50 py-12">
        <div class="text-center">
          <div class="container px-4 mx-auto">
            <div class="max-w-4xl mx-auto text-center">
              <h2 class="mt-8 mb-6 text-4xl lg:text-5xl font-bold text-gray-100">Welkom! Waar bent u naar op zoek?</h2>
              
              <a class="inline-block w-full md:w-auto mb-4 md:mr-6 py-5 px-8 text-sm font-bold uppercase border-2 border-transparent bg-gray-200 rounded hover:bg-gray-100 text-gray-800 transition duration-200"
                href="#">start your free trial</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>